h3 {
  font-size: 13px;
  font-style: arial;

}

body {
  margin : 8px 0px 0px 0px;
}

.uper-navi {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.navi-login .login-box {
  border: 1px;
  border-color: #406cef;
  background-color: #406cef;
  color: #FFFFFF;
  text-align: center;
  height: 30px;
  width: 64px;
  border-radius: 5%;
  margin-bottom: 10px;
}

#login{
  padding-top: 6px;
}

.navi-app i{
  font-size: 1.2em;
  padding-top: 5px;
}

.navi-gmail,
.navi-image,
.navi-app,
.navi-login {
  padding-right: 18px;
}

#linkGmail {
  text-decoration-line: none;
  color: #000000;
}

.google-main .google{
  margin-top: 198px;
  display: flex;
  justify-content: center;
}


.search-bar__container,
.keyboard,
.microPhone{
  padding-left: 20px;
}

.search-bar{
  position: relative;
  display: flex;

  justify-content: flex-start;
}

.search-bar .left-container{
  width: 470px;
  min-width: 282px;
}



.search-bar .search-bar__container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 27px;
  border-radius: 50px;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  width: 586px;
  height: 45px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  position: relative;
}

.input .input-search{
  border-left: 10px;
  width: 476px;
  font-size: 13px;
  border: none;
  height: 40px;

}

.input-bar__container{
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.input-bar__container .google-search,
.Im-Feeling-Lucky{

  color: #757575;
  background-color: #F4F4F4;
  padding: 2px 16px ;
  text-align: center;
  vertical-align: text-top;
  position: relative;

}

.google-search{
  margin-right: 12px;

}

.footer{
  margin-top: 197px;
  margin-left: 0;
  margin-bottom: 0; 
  background-color: #f2f2f2;  
  justify-content: end;

  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 980px;
}

.footer .footer-korea{
  font-size: 15px;
  margin-left : 0;
}

.footer .footer-bottom-left
,.footer-bottom-right{
  font-size: 13px;
}

.footer .footer-bottom-left
{
  margin-left: 30px;
  display: flex;
}

.footer .footer-bottom-right
{
  padding-left:  27px;
  margin : 0 !important
}